<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dog">Dog</a></li>
      <li><a href="/cat">Cat</a></li>
      <li><a href="/parrot">Parrot</a></li>
      <li><a href="/rabbit">Rabbit</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
<div class="container">