<!DOCTYPE html>
<html>
    <!-- 
        COMP2068 Lab 4
        Student Id: 200564426
        Student Name: Marcos Oliveira Mota
        Created on: 2025-06-19
    -->
  <head>
    <title>About - Pet Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="pet-card">
      <h1>About</h1>
      <p>This is a website for a college assignment for learning purposes only. All the images used on this site are credited below.</p>
      <h3>COMP2068 - JavaScript Frameworks - Lab 4</h3>
      <div class="credits">
        <h2>Student information</h2>
        <h3>Marcos Oliveira Mota</h3>
        <h3>Id: 200564426</h3>
        <h3>Portfolio: <a href="https://www.marcosmota.tech/portfolio">marcosmota.tech</a></h3>
        <h3>Follow Me: <a href="https://www.linkedin.com/in/marcosmota5">LinkedIn</a></h3>
      </div>

      <div class="credits">
        <h2>Image Credits</h2>
        <ul>
          <li><a href="https://www.flaticon.com/free-icons/dog" title="dog icons">Dog icons created by Flat Icons - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/cat" title="cat icons">Cat icons created by Flat Icons - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/rabbit" title="rabbit icons">Rabbit icons created by Flat Icons - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/parrot" title="parrot icons">Parrot icons created by Freepik - Flaticon</a></li>
          <a href="https://www.flaticon.com/free-icons/paw" title="paw icons">Paw icons created by logisstudio - Flaticon</a>
        </ul>
      </div>
    </div>

    </div> <!-- closing container div from header -->

    <%- include('partials/footer') %>
  </body>
</html>