<!DOCTYPE html>
<html>
    <!-- 
        COMP2068 Lab 4
        Student Id: 200564426
        Student Name: Marcos Oliveira Mota
        Created on: 2025-06-19
    -->
  <head>
    <title>Cat - Pet Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="pet-card">
      <h1>Cat</h1>
      <p>Cats are independent and graceful. They love to nap and climb. Their purring and playful nature bring joy to many households around the world.</p>
      <img src="/images/cat.png" alt="Cat" />
    </div>

    </div> <!-- closing container div from header -->

    <%- include('partials/footer') %>
  </body>
</html>