<!DOCTYPE html>
<html>
    <!-- 
        COMP2068 Lab 4
        Student Id: 200564426
        Student Name: Marcos Oliveira Mota
        Created on: 2025-06-19
    -->
  <head>
    <title>Dog - Pet Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="pet-card">
      <h1>Dog</h1>
      <p>This is a friendly and loyal dog. Dogs love playing fetch and going for walks. They are known as man's best friend for their unwavering companionship and devotion.</p>
      <img src="/images/dog.png" alt="Dog" />
    </div>

    </div> <!-- closing container div from header -->

    <%- include('partials/footer') %>
  </body>
</html>