<!DOCTYPE html>
<html>
    <!-- 
        COMP2068 Lab 4
        Student Id: 200564426
        Student Name: Marcos Oliveira Mota
        Created on: 2025-06-19
    -->
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <%- include('partials/header') %>

  <div class="pet-card">
    <h1>Welcome to the Pet Site</h1>
    <p>Select a pet from the navigation bar to learn more about our wonderful animal friends. Each pet has its unique characteristics and charm!</p>
  </div>
  
  </div> <!-- closing container div from header -->
  
  <%- include('partials/footer') %>
  </body>
</html>
