<!DOCTYPE html>
<html>
    <!-- 
        COMP2068 Lab 4
        Student Id: 200564426
        Student Name: Marcos Oliveira Mota
        Created on: 2025-06-19
    -->
  <head>
    <title>Rabbit - Pet Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="pet-card">
      <h1>Rabbit</h1>
      <p>Rabbits are soft and quick. They enjoy eating carrots and hopping around. These gentle creatures with their twitching noses and long ears make wonderful pets for those who appreciate their calm demeanor.</p>
      <img src="/images/rabbit.png" alt="Rabbit" />
    </div>

    </div> <!-- closing container div from header -->

    <%- include('partials/footer') %>
  </body>
</html>